<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>





    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/about">About</a>
        <a href="/price">House Price Predictor</a>
        <a href="/visualisations">Visualisations</a>
    </div>

    <div class="row" style="padding-top: 50px;">
        <h1>Perth Houseprice</h1>

    </div>
    

    <div class="row">
        <div class="col-12">
            <form>

                <div class="mb-3">
                    <label class="form-label" for="BEDROOMS">BEDROOMS</label>
                    <input class="form-control" type="number" name="BEDROOMS" id="BEDROOMS">

                </div>

                <div class="mb-3">
                    <label class="form-label" for="BATHROOMS">BATHROOMS</label>
                    <input class="form-control" type="number" name="BATHROOMS" id="BATHROOMS">

                </div>


                <div class="mb-3">
                    <label class="form-label" for="LAND_AREA">LAND AREA</label>
                    <input class="form-control" type="number" name="LAND_AREA" id="LAND_AREA">
                    <div class="form-text">The Land Area size is in square feet</div>

                </div>


                <!-- <div class="mb-3">
                    <label class="form-label" for="Floor_AREA">FLOOR AREA</label>
                    <input class="form-control" type="number" name="FLOOR_AREA id=" FLOOR AREA">
                    <div class="form-text">The Floor Area size is in square feet</div>


                </div> -->

                <div class="mb-3">
                    <label class="form-label" for="CBD_DIST">CBD DIST</label>
                    <input class="form-control" type="number" name="CBD DIST" id="CBD_DIST">
                    <div class="form-text">The distance from CBD is in meters.</div>


                </div>
                <div class="mb-3">
                    <label class="form-label" for="GARAGE">GARAGE</label>
                    <input class="form-control" type="number" name="GARAGE" id="GARAGE">



                </div>

                <div class="mb-3">
                    <label class="form-label" for="NEAREST_SCH_RANK">NEAREST SCHOOL RANK</label>
                    <input class="form-control" type="number" name="NEAREST_SCH_RANK" id="NEAREST_SCH_RANK">



                </div>


                <div class="mb-3">
                    <label class="form-label" for="NEAREST_SCH_DIST">NEAREST STATION DISTANCE</label>
                    <input class="form-control" type="number" name="NEAREST_SCH_DIST" id="NEAREST_STN_DIST">
                    <div class="form-text">The distance from station is in meters.</div>


                </div>





                <button type="button" class="btn btn-dark" id="price">Submit</button>
        </div>
        <div class="row"  id="predict"></div>
        <!-- <div class="row" style="padding-top: 50px;" id="predict"> -->

        </div>
    </div>



    <script src="../static/js/price.js"></script>
    
</body>

</html>